body {
  font-family: "Inter", sans-serif;
}

#root {
  min-height: 100vh;
  position: relative;
}

.home_category .home_category_picture {
  width: 170px;
  height: auto;
}

.home_categories_container .home_category {
  text-decoration: none;
  color: #000;
}

.products_container a {
  color: #000;
  text-decoration: none;
}

.product_picture {
  width: 215px;
  height: auto;
}

.product_detail_item.price .dollar_sign {
  font-size: 10px;
}

.product_detail_item.provider {
  color: #858585;
}

.products_container .product_details_container p {
  margin-bottom: 0;
}

.products_container .product_item .row {
  background-color: #fbfbfb;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
