body {
  font-family: "Inter", sans-serif;
}

#root {
  min-height: 100vh;
  position: relative;
}

.home_category .home_category_picture,
.product_item .product_picture {
  width: 170px;
  height: auto;
}

.home_categories_container .home_category {
  text-decoration: none;
  color: #000;
}

.product_item {
  color: #000;
  text-decoration: none;
}

.product_item + .product_item {
  margin-top: 10px;
}

.product_item:hover {
  color: #000;
}

.product_detail_item.price .dollar_sign {
  font-size: 10px;
}

.product_detail_item.provider {
  color: #858585;
}

.product_item .product_details_container p {
  margin-bottom: 0;
}

.product_item .row,
.cart_summary_container .cart_summary,
.payment_method_item,
.orders_container .order_item,
.accordion *,
.accordion-button:not(.collapsed),
.addresses_container .address_item {
  background-color: #fbfbfb;
}

.accordion-button:not(.collapsed) {
  color: #000;
}

.accordion-button::after {
}

.accordion * {
  border: 0;
}

.accordion-button:focus {
  border: 0;
  border-color: #fbfbfb;
  box-shadow: unset;
}

.order_item .estimated_arrival {
  background-color: #c4c4c4;
}

.product_details_container .product_picture {
  width: 300px;
  height: auto;
}

.product_details_container .product_details,
.cart_container .cart_items,
.preview_order_container .preview_order,
.addresses_container,
.personal_information {
  padding-top: 50px;
  padding-bottom: 150px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
